<div class="ui raised card">
    <div class="content">
        <div class="header">{{ name }}</div>
    </div>
    <div class="content">
        <h3 class="ui sub header"><i class="fas fa-glasses"></i> {{ role }}</h3>
        <div class="ui small feed">
            <div class="event">
                <div class="content">
                    <div class="summary">
                        ID: {{ id }}
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="content">
                    <div class="summary">
                        Email: <a href="mailto:{{ email }}">{{ email }}</a>
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="content">
                    <div class="summary">
                        GitHub: <a href="https://github.com/{{ github }}" target="_blank"
                            rel="noopener noreferrer">{{ github }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>